@import "tailwindcss";
/* app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-sans;
}
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #fcfaf8; /* example: slate-900 */
  /* color: white; */
  color: #333;
font-family: system-ui, -apple-system, BlinkMacSystemFont,
            "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}